<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015894859915-f3nrfrnifqn74a88s7f4mjca5kkj67t3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015894859915-f3nrfrnifqn74a88s7f4mjca5kkj67t3</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcLouzJM8gWbfHW6FMZNDRv5U0IL3dsg</string>
	<key>GCM_SENDER_ID</key>
	<string>1015894859915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatappnew-d7eaf</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappnew-d7eaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015894859915:ios:8ed1f3129a71e6f6fb348e</string>
</dict>
</plist>